<br/>
<h3>Welcome to my wiki!</h3><br/>

<h6>It looks like you haven't created an account on our site yet, please sign up here or click the Log In button above.</h6><br/>
<div class="wrapper">
  <button id="signup-btn" type="button" name="button" value="signup"><a href="/users/new">Sign up Here!</a></button>
</div>
