<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Leon's Wiki</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <ul>
        <div id="headerBar">
          <li><h5><a href="/">Home</a></h5></li>
          <li><h5><a href="/">Favorites</a></h5></li>
          <li><h5><a href="/">Random Article</a></h5></li>
        </div>
      </ul>
      <li><h1 id="header">Leon's Wiki</h1></li>
    </header>
    <div id="navBody">
      <nav id="nav">
        <ul>
          <li><h4 id="articlesList">Article List:</h4></li>

          <h6 id="articlesList">These are some of our articles:</h6>

          <% articles.forEach(function (article) {%>
            <li><a href="/articles/<%= article._id %>"><%= article.title%></a> by <%= article.author%></li><br/>
          <% })%>

        </ul>
      </nav>
      <div class="bodyDiv">
        <%- body %>
      </div>
    </div>
  </body>
  <footer></footer>
</html>
