<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Leon's Wiki</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>
  <body>
    <header>
      <ul>
        <li><h1>Leon's Wiki</h1></li>
        <li>Home</li>
        <li>Favorites</li>
        <li>Random Article</li>
      </ul>
    </header>
    <nav>
      <ul>
        <li><h1>Article List</h1></li>
        <% article.forEach(function (article) {%>
          <li><a href="/wiki/<%= article._id %>"><%= article.title%> by <%= article.author%></a></li>
        <% })%>
      </ul>
    </nav>
    <%- body %>
  </body>
  <footer></footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</html>
