<div class="">
<br/>
<h1>New Article:</h1><br/>

<form class="newForm" action="/articles" method="post">

  <label for="title">Author</label>
  <input type="text" name="article[author]" id="title" size="30" placeholder="<%=currentUser%>" value="<%=currentUser%>" readonly><br/>

  <label for="title">Article Title:</label>
  <input type="text" name="article[title]" id="title" size="30" placeholder="What's your article about?"><br/>

  <fieldset>

     <label for="section0">Section Title:<br/></label>
     <input id="section0" type="text" name="article[content][0][title]" size="30" placeholder="What's this section about?"><br/>

     <label for="content0">Section Content:<br/></label>
     <textarea  id="content0" name="article[content][0][content]" rows="8" cols="40" placeholder="Tell me something cool!"onkeyup="textAreaAdjust(this)" style="overflow:hidden"></textarea><br/>

  </fieldset>

  <button id="submitNew" type="submit" name="button">Submit</button>
  <input id="new-section" type="submit" value="Add a section">

</form>
<script src="/scripts/newArticle.js" type="text/javascript"></script>
</div>
